{% extends 'base.html' %}
{% load timetags %}
{% load nameTags %}

{% block content %}
        <div class="col-md-12">
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading">{{ match.gameType }} {{ match.gameStartTime|epoch_to_date }}</div>
              <!--<div class="panel-body">
                <p>optional</p>
              </div>-->

              <!-- Table -->
              <table class="table">
                <!-- Blue Team -->
                <tr class="Blue-team">
                  <th>Champion</th>
                  <th>Summoner</th>
                  <th>Win %</th>
                  <th>Other</th>
                  <th>Other</th>
                  <th>Banned</th>
                </tr>
                {% for participant in match.participants|slice:":5" %}
                <tr>
                  <td>
                    <div>
                      <img class="media-object img-rounded" src="http://ddragon.leagueoflegends.com/cdn/7.12.1/img/champion/{{ participant.championId|champ_name }}.png" alt="Summoner Icon" width="32" height="32">
                      <div>
                      <img class="media-object img-rounded pull-left" src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/spell/{{ participant.spell1Id|sum_spell_name }}.png" alt="Summoner Spell Name Place Holder" width="16" height="16">
                      <img class="media-object img-rounded pull-left" src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/spell/{{ participant.spell2Id|sum_spell_name }}.png" alt="Summoner Spell Name Place Holder" width="16" height="16">
                      </div>
                    </div>
                  </td>
                  <td>{{ participant.summonerName }}</td>
                  <td>{{ participant.summonerId|summoner_record:match }}</td>
                  <td></td>
                  <td></td>
                  <td>
                    {% with match.bannedChampions|banned_champ_blue:forloop.counter0 as champ_blue  %}
                    {% if champ_blue != None %}
                    <img class="media-object img-rounded" src="http://ddragon.leagueoflegends.com/cdn/7.12.1/img/champion/{{ champ_blue }}.png" alt="Summoner Icon" width="24" height="24">
                    {% endif %}
                    {% endwith %}
                  </td>
                </tr>
                {% endfor %}
                <!-- Red Team -->
                <tr class="Red-team">
                  <th>Champion</th>
                  <th>Summoner</th>
                  <th>Win %</th>
                  <th>Other</th>
                  <th>Other</th>
                  <th>Banned</th>
                </tr>
                {% for participant in match.participants|slice:"5:" %}
                <tr>
                  <td>
                    <div>
                      <img class="media-object img-rounded" src="http://ddragon.leagueoflegends.com/cdn/7.12.1/img/champion/{{ participant.championId|champ_name }}.png" alt="Summoner Icon" width="32" height="32">
                      <div>
                      <img class="media-object img-rounded pull-left" src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/spell/{{ participant.spell1Id|sum_spell_name }}.png" alt="Summoner Spell Name Place Holder" width="16" height="16">
                      <img class="media-object img-rounded pull-left" src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/spell/{{ participant.spell2Id|sum_spell_name }}.png" alt="Summoner Spell Name Place Holder" width="16" height="16">
                      </div>
                    </div>
                  </td>
                  <td>{{ participant.summonerName }}</td>
                  <td>{{ participant.summonerId|summoner_record:match }}</td>
                  <td></td>
                  <td></td>
                  <td>
                    {% with match.bannedChampions|banned_champ_red:forloop.counter0 as champ_red  %}
                    {% if champ_red != None %}
                    <img class="media-object img-rounded" src="http://ddragon.leagueoflegends.com/cdn/7.12.1/img/champion/{{ champ_red }}.png" alt="Summoner Icon" width="24" height="24">
                    {% endif %}
                    {% endwith %}
                  </td>
                </tr>
                {% endfor %}
              </table>
            </div>

        </div>
{% endblock %}


