{% extends 'base.html' %}
{% load timetags %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>{{ summoner.name }}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    <img src="http://ddragon.leagueoflegends.com/cdn/7.12.1/img/profileicon/{{ summoner.profileIconId }}.png" class="img-rounded">
                </div>
                <div class="col-md-10">
                    <ul>
                        <li>Summoner Id: {{ summoner.id }}</li>
                        <li>Account Id: {{ summoner.accountId }}</li>
                        <li>Level: {{ summoner.summonerLevel }}</li>
                        <li>Region: {{ summoner.region }}</li>
                        <li>Last updated: {{ summoner.revisionDate|epoch_to_date }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


{% endblock %}


